@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Volkhov&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family:  'Volkhov', serif;
background-color: #8aedd8;
background-color: #f4acb7;
background-attachment: fixed;
background-size: cover;


}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 .varela-font {
	font-family: 'Amaranth', sans-serif;
	color: black;
}

.nav-link {
  font-size: 1.5rem;
  font-family: 'Amaranth', sans-serif;
}